# ======================
# Python
# ======================
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment Variables
# ======================
.env
.env.*
*.env

# ======================
# Database
# ======================
*.db
*.sqlite3

# ======================
# Uploads
# ======================
uploads/

# ======================
# Logs
# ======================
*.log

# ======================
# Node
# ======================
node_modules/

# ======================
# React/Vite
# ======================
dist/
build/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

*.zipbackend/reports/*
*.pdf
