# Python
__pycache__/
*.pyc
.env

# Logs
logs/
backend/logs/

# Generated Reports
reports/
backend/reports/

# Uploaded Files
uploads/
backend/uploads/

# Database
*.db
neurosync.db

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db